.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.grad1 {
  overflow: hidden;
  background-image: radial-gradient(#9303c6, #420294, #000000);
}

.grad2 {
  overflow: hidden;
  background-image: radial-gradient(
    farthest-corner at 60% 55%,
    #00c1fc,
    #0d45ff,
    #000000
  );
}

.grad3 {
  overflow: hidden;
  background-image: radial-gradient(#0d45ff,#0065fc, #000000);
}

.gradient-overlay {
  position: absolute;
  width: 20%; /* Adjust the size of the gradient quarters as needed */
  height: 50%;
}

.gradient-overlay.top-left {
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    #0d45ff,#0065fc
  ); /* Adjust gradient colors as needed */
}

.gradient-overlay.bottom-right {
    bottom: 0;
    right: 0;
  background: linear-gradient(
    to top left,
    #ff7e5f,
    #feb47b
  ); /* Adjust gradient colors as needed */
}

.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart{
  position: relative;
}

.programming-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.programming-stats .details ul {
  list-style: none;
  padding: 0;
}

.programming-stats .details ul li {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
}

.programming-stats .details .percentage {
  font-weight: 700;
  color: #e63946;
}

.chart .title{
  position: absolute;
  left:0;
  right:0;
  top:30%;
  margin-left: auto;
  margin-right: auto;
}

.box-background {
  border-radius: 1.25rem;
  border: 1px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.302);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.text-gradient {
  color: transparent;
  background: linear-gradient(90deg, #801ee1 4%, #ffffff 87%);
  background: linear-gradient(19deg, #801ee1 30%, #ffffff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient1 {
  color: transparent;
  background: linear-gradient(90deg, #801ee1 4%, #000000 87%);
  background: linear-gradient(19deg, #801ee1 30%, #000000 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}